{:kafka/streams             {:topology    {"bootstrap.servers" "localhost:9092"
                                           "application.id"    "number-stations-3"}
                             :input-topic "input4"
                             :deps        [#ig/ref :number-stations/generator]}

 :correlate/store           {:streams #ig/ref :kafka/streams}

 :number-stations/generator {:topic    "input4"
                             :producer {"bootstrap.servers" "localhost:9092"
                                        "key.serializer"    "org.apache.kafka.common.serialization.StringSerializer"
                                        "value.serializer"  "number_stations.topology.JsonSerializer"}

                             :partitions         12
                             :replication-factor 3
                             :admin-client       {"bootstrap.servers" "localhost:9092"}}

 :httpkit/server            {:ring/app       #ig/ref :ring/app
                             :httpkit/config {:port 8080}}

 :ring/app                  {:store #ig/ref :correlate/store}}
